.container {
    height: 50rem;
  }
  .chart-container {
    margin: 30px;
    padding: 30px;
    border: 1px solid #ccc;
  }
  
  .chart-container canvas {
    width: 100% !important;
    height: auto !important;
  }
  
  .chart-row {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
  }
  
  .chart {
    flex: 1;
    margin: 10px; /* Add spacing between charts */
  }
  