.container {
  padding: 5px; /* Decreased padding to make the container smaller */
}

.chart-container {
  display: flex;
  padding-top: 2.1%;
  flex-wrap: wrap;
  gap: 23px;
}

.chart {
  flex: 1 1 calc(33.333% - 20px); /* Three charts per row, with spacing */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  min-height: 400px; /* Decrease this value to reduce the height of the chart container */
  margin-top: 10px;.chart-title {
    color: black; /* Text color for chart titles */
  }
   /* Add a slight margin to the top */
}




.chart.bar-chart {
  flex: 2 1 calc(66.666% - 20px); /* Bar chart taking more space */
}

.chart h2 {
  text-align: center;
}

.chart canvas {
  width: 100% !important;
  height: auto !important;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
